
#inventory_list {
    padding-top: 25px;
}

#inventory_border {
    background: #ffffff;
    box-shadow: 2px 2px 2px 0 #a5a5a5;
}

.menu {
    position: fixed;
    background: #f8f9fa;
    color: white;
    width: 200px;
    height: 100%;
    margin-top: 62px;
    padding-top: 25px;
}

.menu .menu_list {
    font-family: open sans,sans-serif;
    font-size: 15px;
    border-left: 3px transparent solid;
    color: #fff;
    display: block;
    padding: 10px 15px;
    transition: all ease-in .2s;
    color: #a3a3a3;
}
.menu .menu_sublist {
    
    font-size: 12px;
    border-left: 40px transparent solid;
    color: #fff;
    display: block;
    padding: 10px 15px;
    transition: all ease-in .2s;
    color: #a3a3a3;
}
.menu li .menu_sublist {
    padding-top: 0;
}

.menu li .menu_list {
    padding-bottom: 15px;
}
.menu ul {
    padding-left: 0px;
    list-style: none;
}

#active {
    background: #e7e7e7;
    color: black
}

.table td {
    border: 0px;
}

.table thead th {
    border-bottom: 0px;
}


/*
==========================
--------------------------
		Control row
--------------------------
==========================
*/



.control_row {
    width: 100%;
    padding-top: 40px;
}
.control_row form{
    float: right;
    padding-right: 20px;
}

.create {
    float: left;
    padding-left: 15px;
    
}

input[type="search"]{
    border: 0px;
    padding: 8px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 0 #a5a5a5;
    margin-right: -7px;
}


.search_button {
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background: black;
    color: white;
    box-shadow: 2px 2px 2px 0 #a5a5a5;
}

.create button {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 0 #a5a5a5;
}






.switch_list {
    margin-left: 40px;
    float: left;
}

.switch_list button {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 0 #a5a5a5;
    margin-left: -5px;
    width: 60px;
}
.switch_list button.active {
    background: #a3a3a3;
    color: white
}
.menu_sublist.active {
    font-weight: bold;
}




.sidenav {
    
}



.navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
}



.new-item-inv form input {
    margin-bottom: 20px;
}
.new-item-inv form select {
    margin-bottom: 20px;
}

